# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
dials
sphinx
importlib-metadata
reciprocalspaceship
tqdm
numpy
pandas
argparse
gemmi
matplotlib
scipy
jupyter
myst-parser
