name: Build
run-name: Build by ${{ github.actor }}
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]                       
    steps:                                         
    - uses: actions/checkout@v3                    
                                                   
    - name: Install Miniconda                      
      uses: conda-incubator/setup-miniconda@v2     
      with:                                        
        miniconda-version: "latest"                
        channels: conda-forge, defaults            
        auto-activate-base: true                   
        activate-environment: ""                   
                                                   
    - name: Source Miniconda                       
      run: |                                       
        source $CONDA/etc/profile.d/conda.sh       
        conda activate                             
        which python                               
        python --version                           
        echo $CONDA                                
        conda install -n base conda-libmamba-solver
        conda config --set solver libmamba         
        python -m pip install --upgrade pip        
        conda list                                 

    - name: Build with tox
      run: |
        pip install tox
        pip install tox-conda
        tox -e build

    - name: Run tests with tox + pytest
      run: |
        tox

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
        flags: unittests
