name: Test Documentation
run-name: Test Documentation by ${{ github.actor }}

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]

    if: "!contains(github.event.head_commit.message, 'skip docs')"

    steps:                                         
    - uses: actions/checkout@v3                    
                                                   
    - name: Install Miniconda                      
      uses: conda-incubator/setup-miniconda@v2     
      with:                                        
        miniconda-version: "latest"                
        channels: conda-forge, defaults            
        auto-activate-base: true                   
        activate-environment: ""                   
                                                   
    - name: Source Miniconda                       
      run: |                                       
        source $CONDA/etc/profile.d/conda.sh       
        conda activate                             
        which python                               
        python --version                           
        echo $CONDA                                
        conda install -n base conda-libmamba-solver
        conda config --set solver libmamba         
        python -m pip install --upgrade pip        
        pip install -U setuptools setuptools_scm wheel
        conda list                                 
        which pip
        pip list 
                                                   
    - name: Install DIALS environment and more
      run: |
        conda install -n base -c conda-forge -y dials
        conda info
        conda list
        $CONDA/bin/pip install -e ".[docs]"
        cd docs
        export SPHINXBUILD="$CONDA/bin/sphinx-build"
        make clean
        make html
